page-map {
    .scroll {
        height: 100%
      }

      #map {
        width: 100%;
        height: 100%;
      }

      div.scroll-content #infowindow {
        z-index:100;
      }
      div.si-content {
        max-height:260px !important;
      }

}
