page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }
  ion-slides.slides {
    background-image: url("../assets/imgs/front-screen-app02.jpg");
    -webkit-background-size: cover !important;
    -moz-background-size: cover  !important;
    background-size: cover  !important;
  }
     
  .button-outline-md, .button-ios {
    border-color:#000000;
    color: #000000;
    background-color:#ffffff;
    margin-bottom:20px;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }

  #instruction-container {
    width:86%;
    margin:20px auto;
    background-color:#ffffff;
    border:1px solid #000;
    color:#000;
    border-radius: 20px;
    padding-right:12px;
    padding-bottom:8px;
    text-align:left;
  }

  #instruction-container h3 {
    text-align:center;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
