<!-- <ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">{{ 'Skip Tutorial' }}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header> -->

<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide>
      <img src="assets/imgs/anti-tourism-wordmark-blk.png" class="slide-image" />
      <p *ngFor="let city of cities;" >{{city.imgCaption}}</p>
      <div class="tut-button-container">
        <button ion-button round outline (click)="slideNext()">instructions</button></div>
      <div class="tut-button-container">
        <button ion-button round outline (click)="startApp()">take the anti-tour</button>
      </div>
      <!-- <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>-->
    </ion-slide>
    <ion-slide>
      <div id="instruction-container">
        <h3>Instructions</h3>
        <ol>
          <li>Select a destination.</li>
          <li>Travel to points indicated on the map.</li>
          <li>Remember that for the optimal effect you should be standing at the destination coordinates when playing back the interview pertaining to that location.</li>
          <li>When you have reached the destination, tap on the map marker and then click the "hear story" link. A postcard of the location and recording will be revealed.</li>
          <li>Press play and listen to someone recounting an event that happened at your destination. Take in your surroundings.</li>
          <li>Upload a picture of yourself on the anti-tour with the hashtag: #everysordiddetail. Be sure to include the location in your photo description and look for it to appear in the www.antitourismtour.com Instagram feed!</li>
        </ol>
      </div>
      <div class="tut-button-container">
        <button ion-button round outline (click)="startApp()">take the anti-tour</button>
      </div>
    </ion-slide>
    <ion-slide>
      <div id="credits-container">
        <h3>Credits</h3>
        <p>Artist: David LaRiviere<br>
Application developer: Mark Altman</p>

<p>The artist would like to gratefully acknowledge that the Anti-Tourism project received support from the Canada Council for the Arts, the Saskatchewan Arts Board, and Open Space Arts Society in Victoria. In turn, Open Space receives funding support from the Canada Council, the British Columbia Arts Council, the CRD, and the City of Victoria.
</p>
<p>The artist respectfully acknowledges that the Anti-Tourism project was staged in Saskatoon on treaty six territory and homeland of the métis, and in Victoria on the unceded territories of the Lekwungen and Coast Salish peoples, including Esquimalt, Songhees, and W̱SÁNEĆ First Nations.</p>
      </div>
      <div class="tut-button-container">
        <button ion-button round outline (click)="startApp()">take the anti-tour</button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
